* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, #035e8c, #075e90, #016b9c, #01456d, #082838 );
    
    display: flex;
    flex-direction: column;
}

#cab {
    background-color: black;
    color: white;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 0.8fr 3.2fr;
    height: 85vh;
    gap: 30px;
    margin-top: 10px;
}

#dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    position: fixed;
    right: 10px;
    top: 60px;
}

#dark:hover {
    scale: 105%;
    transition: 1s;
}

#norm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    position: fixed;
    top: 90px;
    right: 10px;
}

#norm:hover {
    scale: 105%;
    transition: 1s;
}

#content-aside {
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#corpo {
    background-color: lightgrey;
    color: white;
    width: 70vw;
}

#section1 {
    background-color: lightgray;
    color: white;
}

#section1 > div {
    background-color: black;
    height: 38vh;
    padding: 10px;

    word-wrap: break-word;
    word-break: break-word;
}

#inputArea > input {
    width: 65vw;
    height: 7vh;
}

#inputArea > button {
    height: 7vh;
    width: 4vw;
    margin-left: 9px;
}

footer {
    background-color: black;
    color: white;
    height: 5vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

abbr {
    text-decoration: none;
}

@media (max-width: 768px) {
    #cab {
        height: 7vh;
        margin-bottom: 8px;
    }

    #dark {
        position: absolute;
        left: 0px;
        margin-bottom: 0px;
        margin-top: -23px;
        margin-left: 28px;
    }

    #norm{
        position: absolute;
        left: 100px;
        margin-top: -53px;
        margin-left: 15px;
        width: 120px;
    }

    #content-aside {
        display: none;
    }

    #corpo{
        height: 80vh;
        width: 85vw;
        margin-left: 28px;
    }

    #inputArea > input{
        height: 7vh;
        width: 74vw;
    }

    #inputArea > button {
        height: 7vh;
        width: 8.2vw;
    }

    footer {
        height: 5vh;
    }
}

@media (min-width: 768px) and (max-width: 1290px) {
    #cab {
        margin-bottom: 14px;
    }

    #dark {
        position: absolute;
        right: auto;
        top: 38px;
        left: 30px;
    }

    #norm {
        position: absolute;
        right: auto;
        top: 38px;
        left: 120px;
        width: 100px;
    }

    section#inputArea{
        display: flex;
        gap: 10px;
    }
}